main {
  .ListContainer {
    h2 {
      margin-left: 10px;
      position: relative; /* 부모 요소로부터의 상대적 위치 설정 */
    }
    h2::after {
      /* 가상 요소를 사용하여 구분선 추가 */
      content: ""; /* 가상 요소에 내용 추가 */
      position: absolute; /* 절대 위치 지정 */
      bottom: -5px; /* 하단에서 5px만큼 위로 이동 */
      left: 0; /* 왼쪽 정렬 */
      width: 100%; /* 가로 전체 영역 설정 */
      height: 1px; /* 선의 높이 설정 */
      border-top: 2px dashed orange; /* dashed 스타일 적용 */
    }

    .TodoList {
      border: 2px dashed green;
      color: pink;
      margin: 20px auto;
      background-color: rgb(255, 224, 229);
      text-decoration: none;
      input {
        margin-left: 10px;
      }
      button {
        margin: auto 10px;
        background-color: bisque;
        border-radius: 10px;
        border: 2px solid burlywood;
        box-shadow: 1px 1px 1px#aaaa;
        padding: 2px 7px;
        align-items: center;
        color: gray;
      }
      ul {
        padding-left: 20px;
        list-style-type: none;
      }

      ul li::before {
        content: "- ";
      }
      ul li {
        display: flex; /* Flexbox 사용 */
        align-items: center; /* 수직 가운데 정렬 */
        margin-bottom: 10px; /* 각 li 태그 사이의 간격을 조정 */
      }
      ul span {
        margin-right: 10px; /* 내용과 버튼 사이의 간격을 조정 */
      }
      ul li span {
        margin-left: 5px;
      }
    }
    .DoneList {
      border: 2px dashed pink;
      color: green;
      background-color: rgb(215, 237, 215);
      ul {
        padding-left: 20px;
        list-style-type: none;
      }

      ul li::before {
        content: " - ";
      }
      ul li {
        display: flex; /* Flexbox 사용 */
        align-items: center; /* 수직 가운데 정렬 */
        margin-bottom: 10px; /* 각 li 태그 사이의 간격을 조정 */
      }
      ul li span {
        margin-left: 5px;
      }
    }
  }
}
