<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>메인페이지</title>
  </head>
  <body>
    <h1>안녕하세요 ejs입니다.</h1>
    <img src="/static/img/Kakao_Bank_of_Korea_Logo.jpg" alt="bank" />
  </body>
</html>
